flows/lessons/postgres_test.json
[
  {
    "id": "tab_pg_test",
    "type": "tab",
    "label": "PG Test",
    "disabled": false,
    "info": "ทดสอบ PostgreSQL\n• INSERT สำเร็จ = payload: [] (empty) คือปกติ\n• ดู error ที่ node 'DB Error' ด้านล่าง"
  },
  {
    "id": "pg_cfg",
    "type": "postgreSQLConfig",
    "name": "PostgreSQL – iot_db",
    "host": "POSTGRES_HOST",
    "hostFieldType": "env",
    "port": "POSTGRES_PORT",
    "portFieldType": "env",
    "database": "POSTGRES_DB",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "user": "POSTGRES_USER",
    "userFieldType": "env",
    "password": "POSTGRES_PASSWORD",
    "passwordFieldType": "env",
    "max": "10",
    "maxFieldType": "num",
    "idleTimeoutMillis": "1000",
    "idleTimeoutMillisFieldType": "num",
    "connectionTimeoutMillis": "10000",
    "connectionTimeoutMillisFieldType": "num"
  },

  {"id":"lbl0","type":"comment","z":"tab_pg_test","name":"── 0. ทดสอบ Connection ─────────────────────────────────","info":"","x":230,"y":40,"wires":[]},
  {
    "id": "inj_conn",
    "type": "inject",
    "z": "tab_pg_test",
    "name": "▶ ทดสอบ Connection",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 100,
    "wires": [["fn_conn"]]
  },
  {
    "id": "fn_conn",
    "type": "function",
    "z": "tab_pg_test",
    "name": "SQL: version",
    "func": "msg.payload = \"SELECT version(), current_database() AS db, to_char(now() AT TIME ZONE 'Asia/Bangkok','YYYY-MM-DD HH24:MI:SS') AS now_bkk\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 100,
    "wires": [["pg_conn"]]
  },
  {
    "id": "pg_conn",
    "type": "postgresql",
    "z": "tab_pg_test",
    "name": "Test Connection",
    "query": "",
    "postgreSQLConfig": "pg_cfg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 580,
    "y": 100,
    "wires": [["dbg_conn"]]
  },
  {
    "id": "dbg_conn",
    "type": "debug",
    "z": "tab_pg_test",
    "name": "Connection OK",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload[0].db & ' | ' & payload[0].now_bkk",
    "statusType": "jsonata",
    "x": 810,
    "y": 100,
    "wires": []
  },

  {"id":"lbl1","type":"comment","z":"tab_pg_test","name":"── 1. INSERT  ([] = สำเร็จ ✓) ──────────────────────────","info":"","x":230,"y":180,"wires":[]},
  {
    "id": "inj_ins",
    "type": "inject",
    "z": "tab_pg_test",
    "name": "▶ INSERT 1 row",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 240,
    "wires": [["fn_ins"]]
  },
  {
    "id": "fn_ins",
    "type": "function",
    "z": "tab_pg_test",
    "name": "Build INSERT SQL",
    "func": "const rand=(min,max,d=2)=>Number((Math.random()*(max-min)+min).toFixed(d));\nconst kw=rand(1.5,9.5,3), pf=rand(0.82,0.99,3);\nconst rp=Number((kw*Math.tan(Math.acos(pf))).toFixed(3));\nconst ap=Number((kw/pf).toFixed(3));\nconst cur=rand(5,18,3), load=rand(30,95,1);\nconst rpm=Math.round(rand(1200,1500));\nconst freq=rand(49.8,50.2,2), kwh=rand(0.5,25,4);\nconst alarm=Math.random()<0.05, spike=Math.random()<0.08;\nmsg.payload = \"INSERT INTO energy_telemetry\"\n    + \"(machine_id,active_power_kw,reactive_power_kvar,apparent_power_kva,\"\n    + \"power_factor,current_max,load_pct,motor_rpm,frequency_hz,\"\n    + \"energy_today_kwh,alarm_overcurrent,spike_event)\"\n    + \" VALUES(\"\n    + \"'TEST-01',\" + kw + \",\" + rp + \",\" + ap + \",\"\n    + pf + \",\" + cur + \",\" + load + \",\" + rpm + \",\"\n    + freq + \",\" + kwh + \",\" + alarm + \",\" + spike\n    + \")\";\nnode.warn(\"SQL: \" + msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 240,
    "wires": [["pg_ins"]]
  },
  {
    "id": "pg_ins",
    "type": "postgresql",
    "z": "tab_pg_test",
    "name": "INSERT energy_telemetry",
    "query": "",
    "postgreSQLConfig": "pg_cfg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 600,
    "y": 240,
    "wires": [["dbg_ins"]]
  },
  {
    "id": "dbg_ins",
    "type": "debug",
    "z": "tab_pg_test",
    "name": "INSERT result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "$count(payload) = 0 ? 'INSERT OK ✓' : 'rows=' & $count(payload)",
    "statusType": "jsonata",
    "x": 830,
    "y": 240,
    "wires": []
  },

  {"id":"lbl2","type":"comment","z":"tab_pg_test","name":"── 2. SELECT 10 ล่าสุด ─────────────────────────────────","info":"","x":225,"y":320,"wires":[]},
  {
    "id": "inj_sel",
    "type": "inject",
    "z": "tab_pg_test",
    "name": "▶ SELECT 10 ล่าสุด",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 380,
    "wires": [["fn_sel"]]
  },
  {
    "id": "fn_sel",
    "type": "function",
    "z": "tab_pg_test",
    "name": "SQL: SELECT",
    "func": "msg.payload = \"SELECT id, machine_id,\"\n    + \" to_char(timestamp AT TIME ZONE 'Asia/Bangkok','YYYY-MM-DD HH24:MI:SS') AS ts_bkk,\"\n    + \" active_power_kw, load_pct, power_factor, alarm_overcurrent, spike_event\"\n    + \" FROM energy_telemetry ORDER BY timestamp DESC LIMIT 10\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 380,
    "wires": [["pg_sel"]]
  },
  {
    "id": "pg_sel",
    "type": "postgresql",
    "z": "tab_pg_test",
    "name": "SELECT energy_telemetry",
    "query": "",
    "postgreSQLConfig": "pg_cfg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 600,
    "y": 380,
    "wires": [["dbg_sel"]]
  },
  {
    "id": "dbg_sel",
    "type": "debug",
    "z": "tab_pg_test",
    "name": "SELECT Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "$count(payload) & ' rows'",
    "statusType": "jsonata",
    "x": 820,
    "y": 380,
    "wires": []
  },

  {"id":"lbl3","type":"comment","z":"tab_pg_test","name":"── 3. COUNT ─────────────────────────────────────────────","info":"","x":215,"y":460,"wires":[]},
  {
    "id": "inj_cnt",
    "type": "inject",
    "z": "tab_pg_test",
    "name": "▶ COUNT ทั้งหมด",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 520,
    "wires": [["fn_cnt"]]
  },
  {
    "id": "fn_cnt",
    "type": "function",
    "z": "tab_pg_test",
    "name": "SQL: COUNT",
    "func": "msg.payload = \"SELECT COUNT(*) AS total,\"\n    + \" COUNT(*) FILTER(WHERE machine_id='TEST-01') AS test_rows\"\n    + \" FROM energy_telemetry\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 520,
    "wires": [["pg_cnt"]]
  },
  {
    "id": "pg_cnt",
    "type": "postgresql",
    "z": "tab_pg_test",
    "name": "COUNT rows",
    "query": "",
    "postgreSQLConfig": "pg_cfg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 580,
    "y": 520,
    "wires": [["dbg_cnt"]]
  },
  {
    "id": "dbg_cnt",
    "type": "debug",
    "z": "tab_pg_test",
    "name": "COUNT Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "'Total=' & payload[0].total & '  TEST-01=' & payload[0].test_rows",
    "statusType": "jsonata",
    "x": 810,
    "y": 520,
    "wires": []
  },

  {"id":"lbl4","type":"comment","z":"tab_pg_test","name":"── 4. DELETE TEST-01 ────────────────────────────────────","info":"","x":225,"y":600,"wires":[]},
  {
    "id": "inj_del",
    "type": "inject",
    "z": "tab_pg_test",
    "name": "▶ DELETE TEST-01",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 660,
    "wires": [["fn_del"]]
  },
  {
    "id": "fn_del",
    "type": "function",
    "z": "tab_pg_test",
    "name": "SQL: DELETE",
    "func": "msg.payload = \"DELETE FROM energy_telemetry WHERE machine_id='TEST-01'\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 660,
    "wires": [["pg_del"]]
  },
  {
    "id": "pg_del",
    "type": "postgresql",
    "z": "tab_pg_test",
    "name": "DELETE TEST data",
    "query": "",
    "postgreSQLConfig": "pg_cfg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 590,
    "y": 660,
    "wires": [["dbg_del"]]
  },
  {
    "id": "dbg_del",
    "type": "debug",
    "z": "tab_pg_test",
    "name": "DELETE OK",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "$count(payload) = 0 ? 'DELETE OK ✓' : 'rows=' & $count(payload)",
    "statusType": "jsonata",
    "x": 820,
    "y": 660,
    "wires": []
  },

  {
    "id": "catch_all",
    "type": "catch",
    "z": "tab_pg_test",
    "name": "DB Error",
    "scope": ["pg_conn","pg_ins","pg_sel","pg_cnt","pg_del"],
    "uncaught": false,
    "x": 590,
    "y": 760,
    "wires": [["dbg_err"]]
  },
  {
    "id": "dbg_err",
    "type": "debug",
    "z": "tab_pg_test",
    "name": "DB Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "error.message",
    "statusType": "msg",
    "x": 820,
    "y": 760,
    "wires": []
  }
]
