flows/NodeRED flowsEnergy Test N8N.json
[{"id":"tab_energy_test","type":"tab","label":"Energy Test → N8N","disabled":false,"info":"ส่งข้อมูลพลังงานทุก 5 วินาทีไปยัง N8N Collector และรับคำสั่งกลับจาก AI Analyzer"},{"id":"inj_sim_5s","type":"inject","z":"tab_energy_test","name":"ส่งข้อมูลทุก 5 วินาที","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["fn_build_payload"]]},{"id":"fn_build_payload","type":"function","z":"tab_energy_test","name":"สร้าง Energy Payload","func":"const reducePower = flow.get('reduce_power') || false;\nconst rand = (min, max, d = 2) =>\n    Number((Math.random() * (max - min) + min).toFixed(d));\n\nconst t = Date.now() / 1000;\nconst sine = Math.sin((t * Math.PI) / 60);\n\nconst prevMode = flow.get('last_mode') || 'NORMAL';\nconst curMode = reducePower ? 'ECO' : 'NORMAL';\nif (prevMode !== curMode) {\n    flow.set('transition_step', 0);\n    flow.set('last_mode', curMode);\n}\nconst step = Math.min((flow.get('transition_step') || 0) + 1, 20);\nflow.set('transition_step', step);\nconst ratio = step / 20;\n\nconst tgt = reducePower ? {\n    pwr: 2.5 + sine * 0.8, load: 32 + sine * 9,\n    cur: 5.5 + sine * 1.5, pf: 0.96\n} : {\n    pwr: 7.8 + sine * 1.7, load: 70 + sine * 14,\n    cur: 14 + sine * 3.0, pf: 0.89 + sine * 0.05\n};\n\nconst lerp = (a, b, r) => a + (b - a) * r;\nconst prev = {\n    pwr: flow.get('prev_pwr') ?? tgt.pwr,\n    load: flow.get('prev_load') ?? tgt.load,\n    cur: flow.get('prev_cur') ?? tgt.cur,\n    pf: flow.get('prev_pf') ?? tgt.pf\n};\nconst base = {\n    pwr: lerp(prev.pwr, tgt.pwr, ratio),\n    load: lerp(prev.load, tgt.load, ratio),\n    cur: lerp(prev.cur, tgt.cur, ratio),\n    pf: lerp(prev.pf, tgt.pf, ratio)\n};\nflow.set('prev_pwr', base.pwr); flow.set('prev_load', base.load);\nflow.set('prev_cur', base.cur); flow.set('prev_pf', base.pf);\n\nconst spikeNow = !reducePower && Math.random() < 0.10;\nconst spikeX = spikeNow ? rand(1.3, 1.8) : 1.0;\nconst noise = (v, pct) => v * (1 + (Math.random() - 0.5) * pct / 100);\n\nconst activePow = Number(Math.max(0.5, noise(base.pwr * spikeX, 3)).toFixed(3));\nconst load_pct = Number(Math.min(100, Math.max(5, noise(base.load * spikeX, 4))).toFixed(1));\nconst curBase = noise(base.cur * spikeX, 5);\nconst l1 = Number((curBase + rand(-0.4, 0.4)).toFixed(2));\nconst l2 = Number((curBase + rand(-0.3, 0.5)).toFixed(2));\nconst l3 = Number((curBase + rand(-0.5, 0.3)).toFixed(2));\nconst pf = Number(Math.min(0.99, Math.max(0.78, noise(base.pf, 2))).toFixed(3));\n\nconst voltSag = reducePower ? 0 : (load_pct - 50) * 0.03;\nconst overcurrent = l1 > 17.5 || l2 > 17.5 || l3 > 17.5;\n\nlet statusLabel = reducePower ? `ECO (${Math.round(ratio * 100)}%)` : 'NORMAL';\nif (spikeNow) statusLabel = 'NORMAL ⚡SPIKE';\nif (overcurrent) statusLabel = 'NORMAL ⚠OVERCURRENT';\n\nmsg.payload = {\n    machine_id: 'MC-01',\n    ts: new Date(Date.now() + 7 * 60 * 60 * 1000).toISOString().replace('Z', '+07:00'),\n    voltage_v: { l1: Number((rand(229, 232, 1) - voltSag).toFixed(1)), l2: Number((rand(228, 231, 1) - voltSag).toFixed(1)), l3: Number((rand(230, 233, 1) - voltSag).toFixed(1)) },\n    current_a: { l1, l2, l3 },\n    frequency_hz: rand(49.8, 50.2, 2),\n    power_factor: pf,\n    active_power_kw: activePow,\n    reactive_power_kvar: Number((activePow * Math.tan(Math.acos(pf))).toFixed(3)),\n    apparent_power_kva: Number((activePow / pf).toFixed(3)),\n    energy_today_kwh: Number(((flow.get('energy_acc') || 0) + activePow * 5 / 3600).toFixed(4)),\n    motor_rpm: Math.round(reducePower ? lerp(1200, 1380, ratio) + rand(-15, 15) : 1480 + rand(-20, 15)),\n    load_pct,\n    alarm_overcurrent: overcurrent,\n    spike_event: spikeNow,\n    power_mode: reducePower ? 'ECO' : 'NORMAL',\n    status_label: statusLabel,\n    transition_pct: Math.round(ratio * 100),\n    reduce_power_active: reducePower,\n    source: 'node-red-energy-simulator'\n};\nflow.set('energy_acc', msg.payload.energy_today_kwh);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["fn_wrap_webhook","fn_ui_gauges_et","dbg_payload"]]},{"id":"fn_wrap_webhook","type":"function","z":"tab_energy_test","name":"Wrap → N8N","func":"msg.headers = { 'Content-Type': 'application/json', 'ngrok-skip-browser-warning': 'true' };\nmsg.payload = { event: 'machine_energy_telemetry', source: 'node-red', topic: 'smartfactory/MC-01/energy/telemetry', data: msg.payload };\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":60,"wires":[["http_post_n8n"]]},{"id":"dbg_payload","type":"debug","z":"tab_energy_test","name":"Payload","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.active_power_kw & ' kW | ' & payload.status_label","statusType":"jsonata","x":620,"y":100,"wires":[]},{"id":"http_post_n8n","type":"http request","z":"tab_energy_test","name":"POST → N8N Collector","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://junie-overcredulous-flushedly.ngrok-free.dev/webhook/energy-machine-telemetry","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":840,"y":60,"wires":[["dbg_n8n_response"]]},{"id":"dbg_n8n_response","type":"debug","z":"tab_energy_test","name":"N8N Response","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"statusCode & ' | ' & payload.status","statusType":"jsonata","x":1070,"y":60,"wires":[]},{"id":"catch_webhook","type":"catch","z":"tab_energy_test","name":"Error ส่ง N8N","scope":["http_post_n8n"],"uncaught":false,"x":840,"y":110,"wires":[["dbg_error"]]},{"id":"dbg_error","type":"debug","z":"tab_energy_test","name":"Webhook Error","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"error","targetType":"msg","statusVal":"error.message","statusType":"msg","x":1070,"y":110,"wires":[]},{"id":"fn_ui_gauges_et","type":"function","z":"tab_energy_test","name":"แยกข้อมูล → Gauges & Chart","func":"const d = msg.payload;\nconst maxCur = Math.max(d.current_a.l1, d.current_a.l2, d.current_a.l3);\nconst pfPct  = Math.round(d.power_factor * 100);\n\nconst mPwr   = { payload: d.active_power_kw };\nconst mPF    = { payload: pfPct };\nconst mLoad  = { payload: d.load_pct };\nconst mCur   = { payload: Number(maxCur.toFixed(2)) };\nconst mRpm   = { payload: d.motor_rpm };\n\n// chart ส่งหลายเส้น\nconst mChart1 = { payload: d.active_power_kw, topic: 'Power kW' };\nconst mChart2 = { payload: d.load_pct / 10,   topic: 'Load x0.1%' };\n\n// status banner\nconst alarm = d.alarm_overcurrent || d.spike_event;\nconst mBanner = {\n    payload: d.status_label,\n    style: alarm ? { color: '#e74c3c', 'font-weight': 'bold' } : {}\n};\n\nreturn [mPwr, mPF, mLoad, mCur, mRpm, mChart1, mChart2, mBanner];","outputs":8,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":200,"wires":[["ui_gauge_pwr_et"],["ui_gauge_pf_et"],["ui_gauge_load_et"],["ui_gauge_cur_et"],["ui_gauge_rpm_et"],["ui_chart_pwr_et"],["ui_chart_pwr_et"],["ui_text_status_et"]]},{"id":"ui_gauge_pwr_et","type":"ui_gauge","z":"tab_energy_test","name":"Active Power","group":"ui_grp_gauge_et","order":1,"width":"3","height":"3","gtype":"gage","title":"Active Power","label":"kW","format":"{{value}}","min":0,"max":12,"colors":["#00b500","#e6e600","#ca3505"],"seg1":"6","seg2":"9","className":"","x":900,"y":160,"wires":[]},{"id":"ui_gauge_pf_et","type":"ui_gauge","z":"tab_energy_test","name":"Power Factor","group":"ui_grp_gauge_et","order":2,"width":"3","height":"3","gtype":"gage","title":"Power Factor","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#ca3505","#e6e600","#00b500"],"seg1":"82","seg2":"92","className":"","x":900,"y":200,"wires":[]},{"id":"ui_gauge_load_et","type":"ui_gauge","z":"tab_energy_test","name":"Load %","group":"ui_grp_gauge_et","order":3,"width":"3","height":"3","gtype":"gage","title":"Load","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3505"],"seg1":"60","seg2":"80","className":"","x":900,"y":240,"wires":[]},{"id":"ui_gauge_cur_et","type":"ui_gauge","z":"tab_energy_test","name":"Max Current","group":"ui_grp_gauge_et","order":4,"width":"2","height":"3","gtype":"gage","title":"Max Current","label":"A","format":"{{value}}","min":0,"max":22,"colors":["#00b500","#e6e600","#ca3505"],"seg1":"14","seg2":"17.5","className":"","x":900,"y":280,"wires":[]},{"id":"ui_gauge_rpm_et","type":"ui_gauge","z":"tab_energy_test","name":"Motor RPM","group":"ui_grp_gauge_et","order":5,"width":"1","height":"3","gtype":"liquid","title":"Motor RPM","label":"rpm","format":"{{value}}","min":1000,"max":1500,"colors":["#00b500","#e6e600","#ca3505"],"seg1":"1350","seg2":"1450","className":"","x":900,"y":320,"wires":[]},{"id":"ui_text_status_et","type":"ui_text","z":"tab_energy_test","group":"ui_grp_gauge_et","order":6,"width":"12","height":"1","name":"Status Banner","label":"สถานะเครื่องจักร","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":360,"wires":[]},{"id":"ui_chart_pwr_et","type":"ui_chart","z":"tab_energy_test","name":"Power + Load Trend","group":"ui_grp_chart_et","order":1,"width":"12","height":"6","label":"Active Power (kW) & Load ÷10 (%)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"รอข้อมูล...","dot":false,"ymin":"0","ymax":"12","removeOlder":"5","removeOlderPoints":"120","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":900,"y":400,"wires":[[]]},{"id":"http_in_cmd","type":"http in","z":"tab_energy_test","name":"POST /energy-command  ← N8N","url":"/energy-command","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":190,"y":540,"wires":[["fn_store_cmd"]]},{"id":"fn_store_cmd","type":"function","z":"tab_energy_test","name":"เก็บคำสั่ง + ตอบ 200","func":"const body = msg.payload || {};\nconst reducePower = body.reduce_power === true;\n\nflow.set('reduce_power', reducePower);\nflow.set('last_analysis', body);\n\n// output 1 → http response (ต้องรักษา msg.res)\nmsg.statusCode = 200;\nmsg.payload = { status: 'ok', reduce_power: reducePower, ts: new Date().toISOString() };\n\n// output 2 → UI nodes\nconst uiMsg = { payload: body };\n\nreturn [msg, uiMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":540,"wires":[["http_resp_cmd"],["fn_ai_ui_et","dbg_cmd_result"]]},{"id":"http_resp_cmd","type":"http response","z":"tab_energy_test","name":"200 OK","statusCode":"200","headers":{"content-type":"application/json"},"x":690,"y":510,"wires":[]},{"id":"dbg_cmd_result","type":"debug","z":"tab_energy_test","name":"AI Decision (debug)","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"(payload.reduce_power ? '🔴 ECO' : '🟢 NORMAL') & ' | ' & payload.risk_level","statusType":"jsonata","x":710,"y":560,"wires":[]},{"id":"fn_ai_ui_et","type":"function","z":"tab_energy_test","name":"แยก AI result → UI","func":"const b = msg.payload || {};\nconst reduce = b.reduce_power === true;\n\nconst riskColor = { high: '#e74c3c', medium: '#f39c12', low: '#27ae60' };\nconst risk = (b.risk_level || 'low').toLowerCase();\n\nconst mMode = {\n    payload: reduce ? '🔴 ECO MODE — ลดการใช้พลังงาน' : '🟢 NORMAL — ทำงานปกติ',\n    style: { color: reduce ? '#e74c3c' : '#27ae60', 'font-weight': 'bold', 'font-size': '16px' }\n};\nconst mRisk        = { payload: `⚠ Risk: ${(b.risk_level||'low').toUpperCase()}  |  readings: ${b.readings_count||'-'}  |  วิเคราะห์: ${b.analyzed_at ? b.analyzed_at.substring(11,19) : '-'} UTC` };\nconst mReason      = { payload: b.reason         || '-' };\nconst mRecommend   = { payload: b.recommendation  || '-' };\nconst mSummary     = { payload: b.summary         || '-' };\n\nreturn [mMode, mRisk, mReason, mRecommend, mSummary];","outputs":5,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":720,"wires":[["ui_text_mode_et"],["ui_text_risk_et"],["ui_text_reason_et"],["ui_text_recommend_et"],["ui_text_summary_et"]]},{"id":"ui_text_mode_et","type":"ui_text","z":"tab_energy_test","group":"ui_grp_ai_et","order":1,"width":"12","height":"1","name":"Power Mode","label":"Power Mode","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":870,"y":700,"wires":[]},{"id":"ui_text_risk_et","type":"ui_text","z":"tab_energy_test","group":"ui_grp_ai_et","order":2,"width":"12","height":"1","name":"Risk & Meta","label":"Risk Level","format":"{{msg.payload}}","layout":"row-spread","className":"","x":870,"y":740,"wires":[]},{"id":"ui_text_reason_et","type":"ui_text","z":"tab_energy_test","group":"ui_grp_ai_et","order":3,"width":"12","height":"1","name":"AI Reason","label":"สาเหตุ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":870,"y":780,"wires":[]},{"id":"ui_text_recommend_et","type":"ui_text","z":"tab_energy_test","group":"ui_grp_ai_et","order":4,"width":"12","height":"1","name":"AI Recommendation","label":"คำแนะนำ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":890,"y":820,"wires":[]},{"id":"ui_text_summary_et","type":"ui_text","z":"tab_energy_test","group":"ui_grp_ai_et","order":5,"width":"12","height":"1","name":"AI Summary","label":"สรุปสถานการณ์","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":870,"y":860,"wires":[]},{"id":"ui_grp_gauge_et","type":"ui_group","name":"ค่าพลังงาน MC-01","tab":"ui_tab_et","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"ui_grp_chart_et","type":"ui_group","name":"Power Trend","tab":"ui_tab_et","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"ui_grp_ai_et","type":"ui_group","name":"ผลวิเคราะห์ AI (1 นาที)","tab":"ui_tab_et","order":3,"disp":true,"width":"12","collapse":false,"className":""},{"id":"ui_tab_et","type":"ui_tab","name":"Energy Monitor","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a203edc875e759d1","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]